/.idea/
/**/*.phar
/tests.local/composer.lock
/tests.local/vendor
/phpunit/vendor
/tests.remote/composer.lock
/tests.remote/vendor
/nbproject/private/
/nbproject
/phpunit/.phpunit.result.cache
/vendor
/tests.global
/tests.local
/tests.remote
